.App {
   text-align: center;
   border: 2px solid lightgray;
   width: 70vw;
   min-width: 320px;
   max-width: 900px;
   height: 600px;
   margin: 20px auto;
   border-radius: 3px;
  
 }
 ._nav {
   margin-top:30px;
 }