header {
   padding-left: 10px;
}

.App {
   border: 2px solid lightgray;
   width: 70vw;
   min-width: 320px;
   max-width: 900px;
   height: 600px;
   margin: 20px auto;
   border-radius: 3px;
}
._nav {

   border-top: 1px solid #dee2e6;
   background-color: #eeeeee;
}

